$black: #121212;
$white: #f7f7f7;
$orange: #ffbf47;
$blue: #1b7f9d;
$dark-blue: #145a76;
$light-grey: #d9d9d9;
$dark-grey: #a7a0a0;
$green: #00cd2d;
$blue25: rgba(27, 127, 157, 0.25);
$blue80: rgba(27, 127, 157, 0.8);
$black25: rgba(18, 18, 18, 0.25);
$white90: rgba(247, 247, 247, 0.9);
