@import "@styles/styles";

.navigation-bar {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: $white;
  z-index: 1;
  height: $NavigationBarHeight;

  nav {
    list-style: none;

    ul {
      list-style: none;
    }

    li {
      width: calc(100% / 5);
      list-style: none;
      text-decoration: none;

      button {
        height: 100%;
        width: 100%;
      }
    }
  }
}
