@import "@styles/styles";

.navigation-bar {
  position: sticky;
  width: 100%;
  max-width: 500px;
  bottom: 0;
  left: 0;
  height: 51px;

  nav {
    list-style: none;

    ul {
      list-style: none;
    }

    li {
      width: calc(100% / 5);
      list-style: none;
      text-decoration: none;

      button {
        background-color: $white;
        height: 100%;
        width: 100%;
      }
    }
  }
}
