@import "@styles/styles";

.header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: $white;
  z-index: 1;

  .dashboard-container {
    border-bottom: 1px solid $black25;
    height: $dashboardHeight;

    .text-container {
      font-size: 12px;
      font-weight: bold;
    }

    .image-container {
      background-size: cover;
      overflow: hidden;

      .profile-picture {
        border-radius: 14px;
        object-fit: cover;
        border: 1px solid $blue25;
      }
    }
  }
}
