@import "@styles/styles";

.dashboard-container {
  border-bottom: 1px solid $black25;
  height: 105px;

  .text-container {
    font-size: 12px;
    font-weight: bold;
  }

  .image-container {
    background-size: cover;
    overflow: hidden;

    .profile-picture {
      border-radius: 14px;
      object-fit: cover;
      border: 1px solid $blue25;
    }
  }
}
