@import "@styles/styles";

.navigation-bar-button {
  position: relative;
  border: none;
  border-top: 1px solid $blue25;
  cursor: pointer;
  transition: background 0.3s ease;

  .icon {
    width: 20px;
    height: 20px;
  }

  .text {
    font-size: 8px;
  }

  &:hover {
    background-color: $blue;
    svg {
      fill: $white;
    }
    .text {
      color: $white;
    }
  }
}
