@import "@styles/styles";

.dropdown {
  position: relative;
  border-radius: 8px;
  flex-wrap: wrap;

  .tags-input-wrapper {
    border-radius: 8px;
    box-shadow: 0 0 4px 0 $black25;
    border: 1px solid $orange;
    background-color: $white;
    flex-wrap: wrap;

    .search-input {
      border-radius: 8px;
      border: none;
      width: 0px;

      &:focus {
        outline: none;
      }
    }
  }

  .dropdown-menu {
    background-color: $white;
    border: 1px solid $orange;
    display: none;
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
    padding: 10px 0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;

    & > * {
      padding-left: 8px;
    }
  }
}
